{
  "extends": "airbnb-base",
  "globals": {
    "HTMLElement": true,
    "customElements": true,
    "fetch": true
  },
  "rules": {
    "class-methods-use-this": [
      "error",
      {
        "exceptMethods": [ "render" ]
      }
    ]
  }
}